*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.board {
    width: 100w;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}